//colors
$Lust:                 #f02f1d;
$Charleston-Green:     #252734;
$Ghost-White:          #f8f9ff;
$Gunmetal:             #2c2e3d;
$Black-Coral:          #5b5f77;
$Majorelle-Blue:       #6a4be6;
$Sonic-Silver:         #767676;
$Quartz:               #4A4A4A;
$American-Blue:        #3d4261;
$white:                #FFFFFF;
$Cultured:             #F6F6F6;
$black:                #0F0F0F;
$Light-Red:            #f6d1d2;
$Outer-Space:          #30323e;
$Dark-Gray:            #A3A3A3;
$Alice-Blue:           #F6F8FC;
$Snow:                 #FFF7F6;

//font size
$font-56: 3.5rem;
$font-50: 3.125rem;
$font-45: 2.8125rem;
$font-40: 2.5rem;
$font-35: 2.1875rem;
$font-32: 2rem;
$font-28: 1.75rem;
$font-24: 1.5rem;
$font-20: 1.25rem;
$font-18: 1.125rem;
$font-16: 1rem;
$font-14: 0.875rem;

// padding
$padding-section: 4.375rem 7.5rem;